[credential]
    helper = store

[core]
    editor = vim

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# ローカル設定を読み込む
[include]
    path = ~/.gitconfig.local
